<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}
		<title>{{ plog_info.title }}</title>
	{% endblock %}
	<meta charset="utf-8">
	<meta name="Proverbs" content="www.proverbs.top">
	<link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login-style.css') }}" rel="stylesheet">
</head>

<body>
	<header>
		<div class="wrapper">
			<a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" class="h_logo" alt="Plog" title=""></a>
			<nav>
				<ul class="main_nav">
					<li><a href="{{ url_for('main.logout') }}">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header><!-- Header End -->


	{% block content %}
	{% endblock %}


	
	<footer>
		<div class="wrapper">
			<!-- dashboard -->
			<img class="logo_footer" src="{{ url_for('static', filename='img/logo_footer.png') }}" alt="Blogin" title="">
			<p class="rights">Plog by Proverbs<a href="http://www.proverbs.top" target="_blink">Proverbs.top</a> </p>
			<ul class="social_profiles">
				<li class="f"><a href="http://facebook.com/proverbs" target="_blink"></a></li>
				<li class="t"><a href="http://twitter.com/proverbs" target="_blink"></a></li>
				<li class="be"><a href="http://behance.net/proverbs" target="_blink"></a></li>
				<li class="d"><a href="http://dribbble.com/proverbs" target="_blink"></a></li>
			</ul>
		</div>
	</footer><!-- Footer End -->

</body>