{% extends 'user/base-user.html' %}

{% block content %}
	<section class="content-right">
		<article>
			<div class="post">
				<h1 class="title">
					Welcome back, {{ current_user.username }}
				</h1>
				
				<p><b>Username: </b>{{ current_user.username }}</p>

				<p><b>Email: </b>{{ current_user.email }}</p>

				<div class="article_image">
					<p><b>Gravatar Profile: </b>{{ current_user.gravatar_hash }}
						<a href="#">
							<img src="https://s.gravatar.com/avatar/{{ current_user.avatar_hash }}" alt="gravatar" title="my_profile">
						</a>
					</p>
				</div>

				<p><b>Password: </b>it is a secret</p>

				<a class="read_more" href="{{ url_for('user.user_modify') }}">Modify Account<i class="read_more_arrow"></i> </a>
			</div>
		</article>

	</section><!-- Content End -->
{% endblock %}