{% extends 'base-main.html' %}

{% block content %}
<section class="main wrapper">
	<section class="content">

		{% for article in articles %}
			<article>
				<div class="article_image">
					<a href="{{ url_for('main.article_details', id = article.id) }}">
						<img src="{{ url_for('static', filename='img/pic4.jpg') }}" alt="" title="">
					</a>
				</div>
				<div class="post">
					<h1 class="title">
						<a href="{{ url_for('main.article_details', id = article.id) }}">{{ article.title }}</a>
					</h1>

					<p>{{ article.summary|safe }}</p>

					<a class="read_more" href="{{ url_for('main.article_details', id = article.id) }}">Continue Reading <i class="read_more_arrow"></i> </a>
				</div>
			</article>
			<hr />
		{% endfor %}

		<nav class="pagination">
			{% if pagination.has_prev %}
				<a href="{{ url_for(endpoint, page = pagination.page - 1) }}" class="previous"><i></i>Previous</a>
			{% endif %}
			{% if pagination.has_next %}
				<a href="{{ url_for(endpoint, page = pagination.page + 1) }}" class="next">Next<i></i></a>
			{% endif %}
		</nav><!-- pagination End -->
	</section><!-- Main2 End -->
{% endblock %}
