{% extends 'base-main.html' %}

{% block content %}
	<section class="main wrapper">
		<section class="content">
		
			{% for article in articles %}
				<article>
					<div class="article_image">
						<a href="{{ url_for('main.article_details', id = article.id) }}">
							<img src="{{ url_for('static', filename='img/pic4.jpg') }}" alt="" title="">
						</a>
					</div>
					<div class="post">
						<h1 class="title">
							<a href="{{ url_for('main.article_details', id = article.id) }}">{{ article.title }}</a>
						</h1>
						
						<p>{{ article.summary|safe }}</p>

						<a class="read_more" href="{{ url_for('main.article_details', id = article.id) }}">Continue Reading <i class="read_more_arrow"></i> </a>
					</div>
				</article>
				<hr />
			{% endfor %}

		<nav class="pagination">
			<a href="{{ url_for('main.article') }}" class="next">More Articles<i></i></a>
		</nav><!-- pagination End -->

	</section>
{% endblock %}