{% extends "base-main.html" %}

{% block title %}
	<title>Plog - Login</title>
{% endblock %}

{% block content %}
	<form class="login-form" action="" method="post">
		<!-- it is important, about CSRF -->
		{{ form.hidden_tag() }}
		<div>
			<h1 class="login-head">Plog</h1>
		</div>
		<br>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Email" name="email">
			<i class="fa fa-user"></i>
		</div>
		<div class="form-group log-status">
			<input class="form-control" type="password" placeholder="Password" name="password">
			<i class="fa fa-lock"></i>
		</div>
		<div class="remember-me">
			<input type="checkbox" name="remember_me" value="remember_me">Remember me
		</div>
		<div>
			<input class="log-btn" type="submit" value="Log In">
		</div>
	</form>
{% endblock %}